@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}


.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
.padded {
  padding-left: 5px;
}

#textbox {display:flex; flex-flow:row wrap; line-height: 300%;}
#textboxsmall {display:flex; flex-flow:row wrap; line-height: 130%;}

.alignleft {
  width: 33.33333%;
  text-align: left;
}
.aligncenter {
  width: 33.33333%;
  text-align: left;
}
.alignright {
  width: 33.33333%;
  text-align: right;
}

.tooltip {
  background: #d3d1d1;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 5px;
  text-align: left;
  border-radius: 5px;
}

body {
  font-family: "Poppins", sans-serif;
}
span.nomargin{
  margin-left: 0px;
}

div.normal {
  font-weight: normal;
}

div.light {
  font-weight: lighter;
}

div.thick {
  font-weight: bold;
}

div.thicker {
  font-weight: 900;
}


div.border {
  padding-top: 2px;
  padding-bottom: 2px;
}

div.small{
  font-size: 11px;
}

div.margin{
  margin-left: 5px;
}

div.nomargin{
  margin-left: 0px;
}


div.background-grey{
  background: rgb(136, 134, 134);
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

span.circle {
  background: #e3e3e3;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #353434;
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
}

span.circle-filled {
  background: #000000;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #6e6e6e;
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
}

