<div
  (click)="onTooltip()"
  (dblclick)="onToggle()"
  id="textboxsmall"
>
  <span class="alignleft"> {{ prefix }}<ng-content></ng-content>:</span>
  <span class="aligncenter">{{ value }}</span>

  <form *ngIf="showChangeValue" class="add-form" (ngSubmit)="onSubmit()">
    <span class="form-control">
      <input
        #edit
        type="text"
        name="value"
        id="value"
        [(ngModel)]="value"
        placeholder="{{ value }}"
      />
    </span>
    Info:
    <span class="form-control">
      <input
        type="text"
        name="valueTooltip"
        id="valueTooltip"
        [(ngModel)]="valueTooltip"
        placeholder="{{ valueTooltip }}"
      />
    </span>
    <input type="submit" value="speichern" class="btn btn-block" />
  </form>
</div>
<div *ngIf="showTooltip" class="tooltip">
  {{ valueTooltip }}
</div>
